.header {
  font-weight: 500;
  color: white;
  height: 58px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.gameInfoContainer {
  height: 50%;
  background: #2a475e;
  background-position-x: center;
  background-size: cover;
}
.gameInfo {
    
}
.games {
  height: 50%;
  width: 80%;
  margin: 0 auto;
  overflow-y: scroll;
}
.games::-webkit-scrollbar {
  display: none;
}
.games {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.gameWidgets {
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
}
.gameWidget {
  width: 300px;
  height: 300px;
  transition: box-shadow .2s;
  margin-top: 5px;
}
.gameWidget:hover {
    box-shadow: 0 0 5px white;
    cursor: pointer;
}
.gameWidgetImage {
    height: 60%;
    background-color: purple;
}
.gameWidgetText {
    height: 40%;
    padding: 10px 20px;
    background-color: #141b2e;
}
.gameWidgetText h4 {
    color: #2a475e;
}
.gameWidgetText h3 {
    color: white;
    font-weight: 400;
}
.button {
  cursor: crosshair;
  display: flex;
  background-color: #26ac15;
  width: 150px;
  height: 40px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: white;
  clip-path: polygon(
    0 30%,
    7% 0,
    /* top left corner*/ 90% 0,
    100% 0%,
    100% 70%,
    93% 100%,
    /*bottom right corner*/ 0% 100%,
    0% 90%,
    0% 100%
  );
}
.button img {
  height: 20px;
  width: auto;
  margin-right: 10px;
}
.button:hover {
  background-color: #2bc016;
}

/* .gridShot {
    back
    background-size: 40px 40px;
  background-image: radial-gradient(circle, #6c757d 1px, rgba(0, 0, 0, 0) 1px);
} */
