header {
    text-align: center;
    font-size: 2rem;
    color: white;
    height: 58px;
    margin-top: 20px;
}
.games {
    height: 100%;
    overflow-y: scroll;
    -ms-overflow-style: none;
  scrollbar-width: none;
}
.games::-webkit-scrollbar {
    display: none;
  }
.game-widget {
    height: 200px;
    border: 1px solid #2a475e;
    margin: 10px;
    margin-top: 0;
}
