.Nav {
  height: 100vh;
  background-color: #141b2e;
  padding: 1.5em;
  transition: transform .2s;
}

.NavHeader {
  /* width: 100%; */
  vertical-align: middle;
  font-family: "Black Ops One", cursive;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  /* color: rgba(83,179,203,1); */
  color: #0391ff;
}

.PlayerProfile {
  display: flex;
  justify-content: center;
  height: 200px;
  width: 200px;
  color: white;
  margin: 30px auto;
  font-size: 1.5em;
}
.Menu {
  color: white;
  margin-bottom: 25px;
}
.MenuHeader {
  margin-bottom: 25px;
}
.navToggle {
  display: none;
  transition: transform .2s;
}
.navToggle:hover {
  cursor: pointer;
}
@media (max-width: 1205px) {
  .Nav {
    position: absolute;
  }
  .collapsed {
    transform: translateX(-250px)
  }
  .navToggle {
    display: block;
  }
  .navToggleCollapsed {
    transform: translateX(50px);
  }
}