header {
    text-align: center;
    font-size: 2rem;
    color: white;
    height: 58px;
    margin-top: 20px;
}
.games {
    height: 100%;
    overflow-y: scroll;
    -ms-overflow-style: none;
  scrollbar-width: none;
}
.games::-webkit-scrollbar {
    display: none;
  }
.gameWidget {
    height: 200px;
    border: 1px solid #2a475e;
    margin: 10px;
    margin-top: 0;
}
.gameInfo {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.gameHeader {
    color: white;
    font-size: 2rem;
    margin-bottom: 20px;
}
button {
    display: flex;
    background-color: green;
    width: 150px;
    height: 40px;
    cursor: pointer;
    border: 1px solid #2a475e;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: white;
}
button img {
    height: 20px;
    width: auto;
    margin-right: 10px;
}
.playText {
    transform: translateY(1px);
}